<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="ja">
    <link rel="stylesheet" href="/css/style.css"/>
    <meta charset="UTF-8" />
    <title>ログイン</title>
</head>
<body>
<h1>ログイン画面</h1>
<form th:action="@{/users/login}" method="post" th:object="${loginForm}">
    <table>
        <tr>
            <td>
                <span>ID:</span>
                <input name = "id" type="text" th:field="*{id}" th:errorclass="error-input"/>
                <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="error-message"></span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Pass:</span>
                <input name = "pass" type="text" th:field="*{pass}" th:errorclass="error-input"/>
                <span th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}" class="error-message"></span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="ログイン"/>
            </td>
        </tr>
    </table>
    <a href="/users/register">新規登録</a>
</form>
</body>
</html>